.DS_Store
node_modules
npm-debug.log
logs
*.swp
.sw*
.idea/*
target/
hsf.configuration/
.settings/
.project
.classpath
*.class
*.iml
logs/*
.log
web/nodejs/*
*.bak
.project
.classpath
settings
/workspace.xml
bin